
.pokemonDetailsContainer {
    @apply flex flex-col items-center w-full max-w-[200px] ml-auto mr-auto p-2.5 bg-white sm:bg-fuchsia-600 rounded-2xl;
}

.pokemonName {
    width: 100%;

    h2 {
        color: gray;
    }

    span {
        color: black;
        font-weight: bold;
    }
}

.pokemonTypes {
    width: 100%;

    h2 {
        color: gray;
    }

    span {
        color: black;
        font-weight: bold;
    }
}

.pokemonImage {
    width: 150px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}