.pokemonListContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 180px;
    padding: 10px;
    margin: 5px;
    background: #fffaf0;
    box-shadow: 0 4px 8px rgba(211, 211, 211, 0.3);
    border-radius: 5px;
}

.pokemonName{
    @apply font-bold text-red-600;
}

.link{
    color: cornflowerblue;
    font-weight: bold;
}

.pokeballImage{
    position: absolute;
    bottom: -5px;
    right: -5px;
}